<% provide(:title, 'About Us') %>

<div class="alert alert-primary" role="alert">
  About Me
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome!!</h1>
    <%= image_tag('aka.png',style: "width:250px; height:250px") %>
    <p class="lead">    Hi! I'm Taka! Nice to meet you. <br>
    I'm 30 years old and I live in Aichi. <br>
    I like to play Golf and watching movie on my free time
    </p>
  </div>
</div>

