@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert{
    font-size: 30px;
    text-align: center;
}
.form-h1{
    padding-top: 30px;
    font-size: 20px;
}
.from .user{
    margin-bottom: 3px ;
}
.itemstanp{
    font-size: 10px;
}

ol, ul{
    list-style: none;
}
.container .row .col-4{
    border-style: double;
    padding-top: 10px;
}
.container .row .col-4 h1{
    font-size: 20px;
}
.container .row .col-8{
    border-style: double;
    padding-top: 10px;
}
.line {
    padding-top: 15px;
    border-top-style: solid;
    border-color: gray;
}
.microposts-item{
    border-top-style: solid;
    border-color: gray;
}
.microposts{
    height: 400px;
    overflow-y: scroll;
}
.micropostline{
    border-top-style: solid;
    border-color: gray;
    padding-top: 1px;
}
// .container{
//     padding-top: 30px;
//     text-align: center;
//     color: purple;
// }



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
